spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/voz_segura
    username: voz_segura
    password: voz_segura_dev
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  error:
    whitelabel:
      enabled: false
    include-message: never
